GEMINI_API_KEY=your_gemini_api_key_here
# Optional: Set the path to your Google Chrome User Data directory if it is not the default
# Windows Example: C:\Users\<YourUsername>\AppData\Local\Google\Chrome\User Data
CHROME_USER_DATA_DIR=C:\Users\minhp\AppData\Local\Google\Chrome\User Data
